Myworkflow2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "formTitle": "SalesPro User Export",
        "formDescription": "Input the User Email and Password to export users in SalesPro",
        "formFields": {
          "values": [
            {
              "fieldLabel": "SalesPro Email Address",
              "fieldType": "email",
              "placeholder": "johnsmith@nsgmail.com",
              "requiredField": true
            },
            {
              "fieldLabel": "SalesPro Password",
              "fieldType": "password",
              "placeholder": "xxxxxx",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -592,
        -48
      ],
      "id": "f3d44e4c-8afa-49f2-af22-b818ba991c99",
      "name": "On form submission",
      "webhookId": "93b691cd-c29b-4f82-8d00-39c0d28f358f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        -48
      ],
      "id": "163f65a8-4d4d-426b-bc96-9dae2fb33793",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        192
      ],
      "id": "48701ff4-43b3-4e81-b2d2-4735566b0b92",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0WUXa3Zkv0tRwt7i",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $(\"On form submission\").item.json[\"SalesPro Email Address\"] }}",
        "contextWindowLength": 200
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -400,
        192
      ],
      "id": "775e80da-4230-4963-8b8f-90fb62c45e29",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "Not Resulted"
            },
            {
              "field": "Not Sold"
            },
            {
              "field": "Sold"
            }
          ]
        },
        "fieldsToSplitBy": "Not Resulted, Not Sold, Sold",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        288,
        -48
      ],
      "id": "40ca5a87-b52e-4689-b36d-12e6633bddea",
      "name": "Summarize"
    },
    {
      "parameters": {
        "url": "https://dashboard.leaptodigital.com/customers/estimates?offices=gGqOSWDHme",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -240,
        192
      ],
      "id": "448c8f9e-0e20-47ba-a418-bc7991e8aada",
      "name": "HTTP Request",
      "credentials": {
        "httpCustomAuth": {
          "id": "WKPrmyzKJ1G4vdbI",
          "name": "Custom Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1106cdbe-f689-45a1-b8fd-1547faec8c8f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "536ce5c368fa0ba97650c7a323f5324f6ef3414c9d57e85f2cbc60f9c2244d7f"
  },
  "id": "kfQZyVWifZdqIkfA",
  "tags": []
}